body{
  background-color: #314369;
}

.header{
  background-color: maroon;
  width: 960px;
  border-radius: 10px;
  height: 75px;

}
.headertext{
  font-size: 50px;
  color: lightgrey;
  font-weight: bold;
  padding: 10px;
}
}

.body {

}

.nav{
  background-color: #45B39D;
  text-align: left;
  font-size: 14px;
  display: inline-block;
  width: 200px;
  height: 300px;
  border-radius: 20px;
  padding: 20px;
  float: left;
  margin-top: 20px;
}

.navlist {
  list-style-type: circle;
}

.content {
  display: inline-block;
  width: 730px;
  background-color: #283747;
  height: 500px;
  margin: 20px;
  border-radius: 10px;

}
.footer {
  background-color: grey;
  width: 960px;
  border-radius: 10px;
  height: 75px;
}

.footertext {
  font-weight: bold;
  font-size: 14px;
  color: lightgrey;
  padding: 40px;
}
